alias aliases='vi ~/.aliases'
alias l='ls -lh'
alias ll='ls -Alh'
alias la='ls -alh'
alias du='du -hs'
alias df='df -h'
alias sources='sudo vi /etc/apt/sources.list'
alias aptb='sudo apt -t jessie-backports'
alias apt='sudo apt'
alias upgradable='apt list --upgradable'
